# We do not want to upload every module into the repo
/node_modules/

# Why include logs?
/logs/

# Also don't want to expose my configs, which contain sensitive info
config.json
application.yml

# Don't need to upload my startup batch file or automations
*.bat
*.cmd

# No images or videos!!
*.png
*.jpg
*.jpeg
*.bmp
*.mp4
*.mp3
*.ogg
*.wav

# And no external jars :)
*.jar

